.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.image-wrapper {
  flex-basis: 20%;
  margin: 20px;

  animation-name: fade;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0.01s;
}

.image-preview {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

.pagination {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.preloader-wrapper {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

@media (max-width: 800px) {
  .image-container {
    justify-content: center;
  }

  .image-wrapper {
    flex-basis: 40%;
  }
}

@media (max-width: 475px) {
  .image-wrapper {
    flex-basis: 100%;
  }
}

@keyframes fade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
